body {
  background-color: #000000;
  margin: 0;
}

#sliderParent {
  background-color: #ff0000;
  position: absolute;
  top: 80%;
  left: 30%;
  width: 40%;
  height: 10%;
}

#slider {
  background-color: #00ff00;
  width: 30%;
  height: 100%;
}

#map {
  width: 50%;
  height: 50%;
  background-image: url(map.png);
  background-position: -100px -600px;
}

#game {
  background-color: #0000ff;
  width: 50%;
  height: 100%;
  float: right;
}
