body {
  background-color: #000000;
  margin: 0;
}

#sliderParent {
  background-color: #ff0000;
  position: absolute;
  top: 80%;
  left: 30%;
  width: 40%;
  height: 10%;
}

#slider {
  background-color: #00ff00;
  width: 30%;
  height: 100%;
}

#map {
  width: 50%;
  height: 50%;
  background-image: url(map.png);
  background-position: -100px -600px;
}

#game {
  background-color: #000000;
  width: 50%;
  height: 100%;
  float: right;
  position: relative;
}

#start {
  background-color: #000000;
  color: #ffffff;
  position: absolute;
  width: 40%;
  height: 15%;
  top: 40%;
  left: 30%;
  font-size: 3em;
  text-align: center;
}

#pin {
  background-color: #ffffff;
  color: #000000;
  position: absolute;
  width: 40%;
  top: 40%;
  left: 30%;
  font-size: 3em;
  text-align: center;
  display: none;
}
