body {
  margin: 0;
}

#sliderParent {
  background-color: #ff0000;
  position: absolute;
  top: 80%;
  left: 30%;
  width: 40%;
  height: 10%;
}

#slider {
  background-color: #00ff00;
  width: 30%;
  height: 100%;
}
